.fieldset-container {
  display: block;
  clear: both;
  max-width: 1000px;
}

.fieldset-container label {
  float: left;
}

.fieldset-container input {
  float: right;
  max-width: 800px;
  width: 64vw;
}
