:root {
  --black: #2d2d2d;
  --feind: #594f4f;
  --grayblue: #547980;
  --greenblue: #45afa8;
  --pastelgreen: #9de0ad;
  --lime: #e5fcc2;
  --white: #fdfdfd;
}

body {
  color: var(--feind);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: var(--greenblue);
  text-decoration: none;
  transition: border-bottom .3s linear, color .3s linear;
}

a:hover {
  border-bottom: 2px solid var(--feind);
  color: var(--feind);
}

.center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  background: var(--pastelgreen);
  border: 2px solid var(--pastelgreen);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  margin: 35px auto;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  transition: background .2s linear, border .2s linear;
  width: 250px;
}

.btn:hover {
  border: 2px solid var(--greenblue);
  background: var(--greenblue);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

input[type="radio"] {
  margin: 8px 16px;
}