.border-bottom {
	border-bottom: 2px solid var(--pastelgreen);
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: none;
}

.nav li:first-child {
	padding-left: 0;
}

.nav li:last-child {
	position: relative;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
}

.logout-link {
	margin-left: 40px
}

.login-avatar {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	left: 0;
	height: 40px;
	position: absolute;
	top: 0%;
	width: 40px;
}